*{
    padding :0;
    margin: 0;
    font-family: sans-serif;
}

body{
}

.bar{
    color: #fff;
    text-align: center;
    background: orange;
    width: 100vw;
    padding: 20px;
}
